[user]
	name = XXX XXX
	email = XXX@XXX.com
[color]
	ui = true
	status = auto
	branch = auto
[merge]
	tool = diffuse
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
