!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

! urxvt config
!URxvt.iconFile: /usr/share/icons/Tango/32x32/apps/gnome-terminal.png
URxvt.perl-ext-common: default
URxvt.url-launcher: /usr/bin/chromium
!URxvt.matcher.button: 1
URxvt.depth: 32
URxvt.background: [80]#000000
URxvt.foreground: #ffffff
URxvt.scrollBar: false
URxvt.savelines: 6400
URxvt.cursorBlink: 1 
URxvt.internalBorder: 8
URxvt.visualBell: true
URxvt.font: xft:Droid Sans Mono:size=10
!URxvt.letterSpace: -1
URxvt.geometry: 96x32

! Color definition
! Molokai
!*.color0:  black
!*.color1:  #cc0000
!*.color2:  #8ae234
!*.color3:  #c4a000
!*.color4:  #3465a4
!*.color5:  #75507b
!*.color6:  #34e2e2
!*.color7:  #d3d7cf
!*.color8:  #555753
!*.color9:  #ef2929
!*.color10: #8ae234
!*.color11: #fce94f
!*.color12: #729fcf
!*.color13: #ad7fa8
!*.color14: #34e2e2
!*.color15: #d4d4d4

! Zenburn
!*color0:  #1E2320
!*color1:  #705050
!*color2:  #60b48a
!*color3:  #dfaf8f
!*color4:  #506070
!*color5:  #dc8cc3
!*color6:  #8cd0d3
!*color7:  #dcdccc
!*color8:  #709080
!*color9:  #dca3a3
!*color10: #c3bf9f
!*color11: #f0dfaf
!*color12: #94bff3
!*color13: #ec93d3
!*color14: #93e0e3
!*color15: #ffffff

!!NumiX Darkest.
!!BY WuX 

*background: #282828
*foreground: #A2A2A2

!Black
*color0:    #555555
*color8:    #888888

!Red
*color1:    #9C3528
*color9:    #d64937

!Green
*color2:    #61BC3B
*color10:   #86DF5D

!yellow
*color3:    #F3B43A
*color11:   #FDD75A

!blue
*color4:    #0D68A8
*color12:   #0F75BD

!Magenta
*color5:    #744560
*color13:   #9E5E83

!Cyan
*color6:    #288e9c
*color14:   #37c3d6

!White
*color7:    #A2A2A2
*color15:   #f9f9f9
